#landing{
    background-image: url(/assets/blkGreyBg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    
}

.colorWhite{
    
}

