<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" routerLink="landing-lg" routerLinkActive="active"><img class="iconSize"
      src="assets/witcherIcon.png" alt="Witcher Icon"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="about-founders" routerLinkActive="active">Founders<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="witcher1" routerLinkActive="active">The Witcher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="witcher2" routerLinkActive="active">The Witcher 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="witcher3" routerLinkActive="active">The Witcher 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cyberpunk2077" routerLinkActive="active">Cyberpunk 2077</a>
      </li>
    </ul>
  </div>
</nav>
