.nav-link{
    color: white;
    font-size:20px;
}

.navbar-brand{
    color: white;
    text-align: center;
}

.navColor{
    background-color: transparent;
    color: white;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.colorWhite{
    
}