<div class="container top">
  <div class="row">
    <div class="col fadeIn img">
      <img src="assets/MM.jpg" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col slideRight">
      <p id="foundersWhite">
          CD Projekt was founded in May 1994 by Marcin Iwiński and Michał Kiciński.[8] According to Iwiński, although he enjoyed playing video games as a child they were scarce in Poland (which was in the Soviet Union's sphere of influence at the time). Polish copyright law did not exist[9] and Iwiński, in high school, sold cracked copies of Western video games at a Warsaw marketplace.[10] In high school Iwiński met Kiciński, who became his business partner; at that time, Kiciński also sold video games.[9]
      </p>
    </div>
  </div>
</div>